[Unit]
Description=Run Freezerbot firmware updater nightly at 3am

[Timer]
# TODO put this back when done testing
# OnCalendar=*-*-* 03:00:00
# or maybe this for more frequent updates
# OnBootSec=60
# OnUnitActiveSec=5m
# AccuracySec=1s
OnActiveSec=1m
OnUnitActiveSec=1m
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target