[Unit]
Description=Freezerbot Temperature Monitor
After=network.target

[Service]
ExecStart=/home/pi/freezerbot/.venv/bin/python /home/pi/freezerbot/temperature_monitor.py
WorkingDirectory=/home/pi/freezerbot
Restart=on-failure
User=root
Environment=PATH=/home/pi/freezerbot/.venv/bin:$PATH

[Install]
WantedBy=multi-user.target